@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

html,
body,
#root,
.app,
.content{
    height: 100%;
    width: 100%;
    font-family: 'source sans pro', sans-sarif;
}
.app{
    display: flex;
    position: relative;
}

::-webkit-scrollbar-track{
    background: #e0e0e0;
}

/*handle*/
::-webkit-slider-thumb{
    background: #888;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #555;
}
